[Unit]
Description=pdf.ts local viewer daemon
Documentation=https://github.com/jay-waves/pdf.ts

[Service]
Type=simple
ExecStart=/usr/bin/pdf.ts daemon
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=default.target
